.new-review {
  max-width: 400px;
  margin: 0 auto;
  &__success, &__error {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
  }

  &__success {
    color: $success-color;
  }

  &__error {
    color: $error-color;
  }
  
}